/*
 *@version:1.0.0
 *@author:wutianxing
 *@copyright:chetongxiang.com
 *@date:2015.10.23
 */

/***************
 *
 *******index
 *
 **************/
body{
    font-size: 14px;
}
a:hover{
    text-decoration: none;
}
.tui-oa-navbar{
    background-color: #363f45;
    height: 60px;
    line-height: 60px;
}

.tui-oa-bar {
    background: url(../images/logo.png) left  center  no-repeat;
    height: 100%;
    text-align: right;
}
.tui-oa-bar i{
    color: #fff;
    font-size: 16px;
    margin: 0 10px;
}
.tui-oa-bar span.badge{
    position: absolute;
    right: -10px;
    top: -10px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 10px;
    background: #fe5621;
    font-weight: normal;
    border-radius: 50%;
    padding: 0;
}
.tui-oa-sidebar{
    height: 100%;
    background: #f5f5f5;
    text-align: center;
    padding: 30px 0;
}
.tui-oa-aside{
  

}
.tui-oa-aside a{
    margin: 0 10px;
    color: #333333;
}
.tui-admim-headIcon{
    width: 125px;
    height: 125px;
}
.tui-oa-name {
    color:#999999;
    line-height: 30px;
}

.tui-oa-aside-nav {
    padding: 30px 0;
    font-size: 16px;
    color: #4c4c4c;
}

.tui-oa-asidenav-item {
    min-height: 55px;
    line-height: 50px;
}
.tui-oa-asidenav-item >ul li{
    font-size: 14px;
    text-align: left;
    padding-left: 80px;
}
.tui-oa-asidenav-item>a:hover,
.tui-oa-asidenav-item-active{
    background: #fff;
}
.tui-oa-asidenav-item a{
    display: block;
    outline: none;
}
.tui-oa-asidenav-item a:hover{
	color: #fe5621;
}
.tui-oa-personcenter{
    padding-top: 30px;
    padding-bottom: 30px;
}
.tui-oa-h2 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
.tui-oa-h2+a {
    font-size: 12px;
    margin-left: 10px;
}

.tui-oa-personinfo {
    width: 50%;
    height: 60px;
    vertical-align: center;
}
.tui-oa-progressbar
{
    width: 60%;
    padding-top:10px;
}
.tui-oa-progressbar .progress{
    display: inline-block;
    width: 90%;
}

.tui-oa-coin {
    width: 280px;
    height: 170px;
    background: #f5f5f5;
    padding: 10px;
}

.tui-oa-icon-count {
    height: 90px;
    background-color: #fff;
    background-image: url(../images/coin-count.png);
    background-position: 20px center;
    background-repeat: no-repeat;
    position: relative;
}
.tui-oa-location {
    height: 45px;
    line-height: 45px;
}
/***************
 *
 *******orders
 *
 **************/
.tui-oa-order-item {
    height: 210px;
    border: 1px solid #e2e2e2;
    margin-bottom: 10px;
}
.tui-oa-order-item table{
	width: 100%;
}
.tui-oa-order-caption>td{
    height: 40px;
    line-height: 40px;
    background: #f0f0f0;
    text-align: center;
}
.tui-oa-order-body>td{
    height: 170px;
    text-align: center;
    color: #333333;
}
.tui-oa-order-body>div h2{
    font-size: 18px;
    color: #333333;
}
.tui-oa-order-body>div p strong{
    font-size: 18px;
    font-weight: bold;
    color: #ff6a00;
}
.tui-oa-order-body>div p label{
    color: #ff6a00;
}
.tui-oa-order-body img{
   width: 190px;
   height: 130px;
}
.tui-oa-order-body>div a{
   color: #3250be;
    vertical-align:middle;
}

.tui-oa-order-carinfo{
 
 border: 1px solid #e2e2e2;
    height: 40px;
}
.tui-oa-order-carinfo li{
    display: inline-block;
    width: 23%;
    font-size: 12px;
    color: #aaaaaa;
    border-right: 1px solid #e2e2e2;
}
.tui-oa-order-carinfo li>p{
    font-size: 12px;
    color: #333333;
}
/***************
 *
 *******审核
 *
 **************/
.tui-audit-tab{
	width: 100%;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #eeeeee;
}
.tui-audit-tab thead td{
	font-size: 18px;
	color: #333333;
	background: #f5f5f5;
	height: 40px;
	border-right: 1px solid #fff;
}
.tui-audit-tab tbody td{
	font-size: 16px;
	color: #888888;
	background: #ffffff;
	height: 120px;
	border: 1px solid #eeeeee;
}
.tui-audit-members-tab{
	border: none;
	font-size: 14px;
	color: #1c1c1c;
	width: 100%;	
	line-height: 45px;
	font-family: "微软雅黑";
	}
.tui-audit-members-tab th{
	font-size: 14px;
	color: #666666;
    text-align: right;
}
.tui-audit-members-tab td{
	text-align: left;
	padding-left: 15px;
	font-size: 14px;
	color: #1c1c1c;
}


/*文件上传*/
.uploader-wrap{
	width: 100%;
	border: 1px solid #dadada;
	color: #838383;
    font-size: 12px;
    margin-top: 10px;
    background-color: #FFF;
    float: left;
}
#uploader .queueList {
    margin: 20px;
}

.element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}

#uploader .placeholder {
    border: 3px dashed #e6e6e6;
    min-height: 238px;
    padding-top: 158px;
    text-align: center;
    background: url(../../images/image.png) center 93px no-repeat;
    color: #cccccc;
    font-size: 18px;
    position: relative;
}

#uploader .placeholder .webuploader-pick {
    font-size: 18px;
    background: #00b7ee;
    border-radius: 3px;
    line-height: 44px;
    padding: 0 30px;
    color: #fff;
    display: inline-block;
    margin: 20px auto;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#uploader .placeholder .webuploader-pick-hover {
    background: #00a2d4;
}

#uploader .placeholder .flashTip {
    color: #666666;
    font-size: 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px;
}
#uploader .placeholder .flashTip a {
    color: #0785d1;
    text-decoration: none;
}
#uploader .placeholder .flashTip a:hover {
    text-decoration: underline;
}

#uploader .placeholder.webuploader-dnd-over {
    border-color: #999999;
}

#uploader .placeholder.webuploader-dnd-over.webuploader-dnd-denied {
    border-color: red;
}

#uploader .filelist {
    list-style: none;
    margin: 0;
    padding: 0;
}

#uploader .filelist:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both;
}

#uploader .filelist li {
    width: 110px;
    height: 110px;
    /*background: url(http://127.0.0.1:8080/chetongxiang/images/upload_bg.png) no-repeat;*/
    text-align: center;
    margin: 0 8px 20px 0;
    position: relative;
    display: inline;
    float: left;
    overflow: hidden;
    font-size: 12px;
}

#uploader .filelist li p.log {
    position: relative;
    top: -45px;
}

#uploader .filelist li p.title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow : ellipsis;
    top: 5px;
    text-indent: 5px;
    text-align: left;
    
    border: medium none;
    font: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

#uploader .filelist li p.progress {
    /*display: none;*/
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 8px;
    overflow: hidden;
    z-index: 50;
    
    border: medium none;
    font: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
#uploader .filelist li p.progress span {
    /*display: none;*/
    overflow: hidden;
    width: 0;
    height: 100%;
    background: #1483d8 url(../../images/progress.png) repeat-x;

    -webit-transition: width 200ms linear;
    -moz-transition: width 200ms linear;
    -o-transition: width 200ms linear;
    -ms-transition: width 200ms linear;
    transition: width 200ms linear;

    -webkit-animation: progressmove 2s linear infinite;
    -moz-animation: progressmove 2s linear infinite;
    -o-animation: progressmove 2s linear infinite;
    -ms-animation: progressmove 2s linear infinite;
    animation: progressmove 2s linear infinite;

    -webkit-transform: translateZ(0);
    
    border: medium none;
    font: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

@-webkit-keyframes progressmove {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 17px 0;
    }
}
@-moz-keyframes progressmove {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 17px 0;
    }
}
@keyframes progressmove {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 17px 0;
    }
}

#uploader .filelist li p.imgWrap {
    position: relative;
    z-index: 2;
    line-height: 110px;
    vertical-align: middle;
    overflow: hidden;
    width: 110px;
    height: 110px;

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    -webit-transition: 200ms ease-out;
    -moz-transition: 200ms ease-out;
    -o-transition: 200ms ease-out;
    -ms-transition: 200ms ease-out;
    transition: 200ms ease-out;
}

#uploader .filelist li img {
    width: 100%;
    border: medium none;
    font: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

#uploader .filelist li p.error {
    background: #f43838;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 28px;
    line-height: 28px;
    width: 100%;
    z-index: 100;
}

#uploader .filelist li .success {
    display: block;
    vertical-align: baseline;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    right: 20px;
    z-index: 200;
    background: url(../../images/success.png) no-repeat right bottom;
    
    border: medium none;
    font: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

#uploader .filelist div.file-panel {
    position: absolute;
    height: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80000000', endColorstr='#80000000')\0;
    background: rgba( 0, 0, 0, 0.5 );
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 300;
}

#uploader .filelist div.file-panel span {
    width: 24px;
    height: 24px;
    display: inline;
    float: right;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../../images/icons.png) no-repeat;
    margin: 5px 1px 1px;
    cursor: pointer;
}

#uploader .filelist div.file-panel span.rotateLeft {
    background-position: 0 -24px;
}
#uploader .filelist div.file-panel span.rotateLeft:hover {
    background-position: 0 0;
}

#uploader .filelist div.file-panel span.rotateRight {
    background-position: -24px -24px;
}
#uploader .filelist div.file-panel span.rotateRight:hover {
    background-position: -24px 0;
}

#uploader .filelist div.file-panel span.cancel {
    background-position: -48px -24px;
}
#uploader .filelist div.file-panel span.cancel:hover {
    background-position: -48px 0;
}

#uploader .statusBar {
    height: 60px;
    border-top: 1px solid #dadada;
    padding: 0 10px;
    line-height: 60px;
    vertical-align: middle;
    position: relative;
}

#uploader .statusBar .progress {
    border: 1px solid #1483d8;
    width: 198px;
    background: #fff;
    height: 18px;
    position: absolute;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: #6dbfff;
    position: relative;
    margin-right: 10px;
    top: 25px;
}
#uploader .statusBar .progress span.percentage {
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background: #1483d8;
    position: absolute;
}
#uploader .statusBar .progress span.text {
    position: relative;
    z-index: 10;
}

#uploader .statusBar .info {
    display: inline-block;
    font-size: 14px;
    color: #666666;
}

#uploader .statusBar .btns {
    position: absolute;
    top: 10px;
    right: 20px;
    line-height: 34px;
}

#filePicker2 {
    display: inline-block;
    float: left;
}

#uploader .statusBar .btns .webuploader-pick,
#uploader .statusBar .btns .uploadBtn,
#uploader .statusBar .btns .uploadBtn.state-uploading,
#uploader .statusBar .btns .uploadBtn.state-paused {
    background: #ffffff;
    border: 1px solid #cfcfcf;
    color: #565656;
    padding: 0 12px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 12px;
    float: left;
}
#uploader .statusBar .btns .webuploader-pick-hover,
#uploader .statusBar .btns .uploadBtn:hover,
#uploader .statusBar .btns .uploadBtn.state-uploading:hover,
#uploader .statusBar .btns .uploadBtn.state-paused:hover {
    background: #f0f0f0;
}

#uploader .statusBar .btns .uploadBtn {
    background: #00b7ee;
    color: #fff;
    border-color: transparent;
}
#uploader .statusBar .btns .uploadBtn:hover {
    background: #00a2d4;
}

#uploader .statusBar .btns .uploadBtn.disabled {
    pointer-events: none;
    opacity: 0.6;
}









