<ul class="tui-oa-orders">
	<li class="tui-oa-order-item">
		<div class="tui-oa-order-caption">
			<div class="col-md-3">
				2015-10-23 12:00
			</div>
			<div class="col-md-3">
				订单号：201510231200
			</div>
			<div class="col-md-2">
				车编号
			</div>
			<div class="col-md-2">
				状态
			</div>
			<div class="col-md-2">
				操作
			</div>
		</div>
		<div class="tui-oa-order-body">
			<div class="col-md-3">
				<img src="/CTXWeb/images/default.jpg" alt="">
			</div>
			<div class="col-md-3 tui-order-car">
				<h2>马自达8 2011款 2.3 自动 双驱至尊版</h2>
			</div>
			<div class="col-md-2">
				BMW-ML350
			</div>
			<div class="col-md-2">
				预付款审核
			</div>
			<div class="col-md-2">
				<a href="">查看订单详情</a>
			</div>
		</div>
	</li>
</ul>
<div class="col-md-6 col-md-offset-3 ">
	<table class=" tui-oa-order-table">
		<tbody>
			<tr>
				<td>汇款单号：</td>
				<td>152522252285</td>
			</tr>
			<tr>
				<td>汇款银行：</td>
				<td>中国建设银行湖里分行观音山支行营业部</td>
			</tr>
			<tr>
				<td>汇款金额：</td>
				<td>￥1520.00</td>
			</tr>
			<tr>
				 <td style="vertical-align: top;">备注：</td>
				 <td>
				 	 <textarea class="form-control" rows="3"></textarea>
				 	
				 </td>
			</tr>
			<tr>
				 <td></td>
				 <td>
				 	 <button class="btn btn-primary">通过</button>
	<button class="btn btn-danger">不通过</button>
				 </td>
			</tr>
		</tbody>
	</table>
	
</div>