<ul class="tui-oa-orders">
	<li class="tui-oa-order-item">
		<table>
			<tr class="tui-oa-order-caption">
				<td class="col-md-3 text-left" ng-bind="prePayList.OrderTime"></td>
				<td class="col-md-4 text-left">订单号：<span ng-bind="prePayList.OrderCode"></span></td>
				<td class="col-md-2">车编号</td>
				<td class="col-md-1">状态</td>
				<td class="col-md-2">操作</td>
			</tr>
			<tr class="tui-oa-order-body">
				<td class="col-md-3">
					<img alt="" src="../demo/carimg.jpg" ng-src="../{{prePayList.HomePicID}}">
				</td>
				<td class="col-md-4">
					<h2 ng-bind="prePayList.SpecName">马自达8 2011款 2.3 自动 双驱至尊版</h2>
				</td>
				<td class="col-md-2" ng-bind="prePayList.CarNo"></td>
				<td class="col-md-1" ng-bind="prePayList.OrderFlag">
					预付款审核
				</td>
				<td class="col-md-2">
					<a href="">查看订单详情</a>
				</td>
			</tr>
		</table>
	</li>
</ul>
<div class="col-md-6 col-md-offset-3 ">
	<table class=" tui-oa-order-table">
		<tbody>
			<tr>
				<td>汇款单号：</td>
				<td ng-bind="prePayList.PrepayOrder"></td>
			</tr>
			<tr>
				<td>汇款银行：</td>
				<td ng-bind="prePayList.PrePayBank"></td>
			</tr>
			<tr>
				<td>汇款金额：</td>
				<td ng-bind="prePayList.PrePayMoney|currency:'￥'"></td>
			</tr>
			<tr>
				<td>汇款时间：</td>
				<td ng-bind="prePayList.PrePayTime"></td>
			</tr>
			<tr>
				 <td style="vertical-align: top;">备注：</td>
				 <td>
				 	 <textarea class="form-control" rows="3" ng-model="PrePayCheckMemo"></textarea>
				 	
				 </td>
			</tr>
			<tr>
				 <td></td>
				 <td>
				 	 <button class="btn btn-primary" ng-click="submitPrePayAudit(prePayList.OrderCode,1)">通过</button>
	<button class="btn btn-danger" ng-click="submitPrePayAudit(prePayList.OrderCode,0)">不通过</button>
				 </td>
			</tr>
		</tbody>
	</table>
	
</div>