<ul class="tui-oa-orders">
	<li class="tui-oa-order-item">
		<div class="tui-oa-order-caption">
			<div class="col-md-3" ng-bind="logisticOrder.OrderTime">
				2015-10-23 12:00
			</div>
			<div class="col-md-3">
				订单号：<span ng-bind="fullPayList.OrderCode"></span>
			</div>
			<div class="col-md-2">
				车编号
			</div>
			<div class="col-md-2">
				状态
			</div>
			<div class="col-md-2">
				操作
			</div>
		</div>
		<div class="tui-oa-order-body">
			<div class="col-md-3">
				<img ng-src="{{logisticOrder.HomePicID}}" alt="">
			</div>
			<div class="col-md-3 tui-order-car">
				<h2 ng-bind="logisticOrder.SpecName">马自达8 2011款 2.3 自动 双驱至尊版</h2>
			</div>
			<div class="col-md-2" ng-bind="logisticOrder.CarNo">

			</div>
			<div class="col-md-2">
				提交物流费用
			</div>
			<div class="col-md-2">
				<a href="">查看订单详情</a>
			</div>
		</div>
	</li>
</ul>
<div class="col-md-10 col-md-offset-2 mt20">
	<form action="" class=" form-horizontal " role="form" name="logisticsForm" novalidate="novalidate">
		<div class=" form-group font-orange ">
			<label for="name" class="col-md-2 control-label">物流费用：</label>
			<div class="col-md-6 ">
				<input type="text" class="form-control " placeholder="请输入物流费" required="required" ng-model="ShippingFee">
			</div>
		</div>
		
		<div class=" form-group  font-orange ">
			<label for="name" class="col-md-2 control-label">备注：</label>
			<div class="col-md-6 ">
				<textarea class="form-control" rows="3" ng-model="SellerFeedback"></textarea>
			</div>
		</div>
		<div class=" form-group">
			<div class="col-md-6 col-md-offset-2">
				<button class="btn btn-primary" ng-click="submitLogisticFees()">提交</button>
			</div>
		</div>
	</form>
	 
	<!---->

</div>