<ul class="tui-oa-orders">
    
    <li class="tui-oa-order-item" ng-repeat="obj in carList">
        <div class="tui-oa-order-caption">
            <div class="col-md-2">
                车辆图片
            </div>
            <div class="col-md-5">
                车辆信息
            </div>
            <div class="col-md-3">
                车辆编号
            </div>
            <div class="col-md-2">
                操作
            </div>
        </div>
         <div class="tui-oa-order-body">
            <div class="col-md-2">
                <img ng-src="{{obj.HomePicID}}" alt="">
            </div>
            <div class="col-md-5 tui-order-car">
                <h2 ng-bind="obj.SpecName"></h2>
                <p><strong ng-bind="obj.Price/10000| currency : '￥'"></strong><label>万</label></p>
                <!--<ul class="tui-order-carinfo">
                    <li>
                        <p ng-bind='obj.InitialDate| date: "yyyy-MM"'></p>
                           上牌时间
                    </li>
                    <li>
                        <p><span ng-bind="obj.Mileage">公里</span></p>
                        里程
                    </li>
                    <li>
                        <p ng-bind="obj.GearBox==0?'手动':'自动'"></p>
                        变速箱
                    </li>
                    <li style="border:none;">
                        <p ng-bind="obj.City"></p>
                        归属地
                    </li>
                </ul>-->
            </div>
            <div class="col-md-3" ng-bind="obj.CarNo">
                
            </div>
            <div class="col-md-2" style="line-height:30px;padding-top:60px;">
               <button type="button" class="btn btn-info" ng-click="permit(obj.CarNo,1)">通过</button>
				<button type="button" class="btn btn-warning" ng-click="permit(obj.CarNo,0)">禁止</button>
               <br>
                <a href="">查看详情</a>
            </div>
        </div>
    </li>
</ul>
<!--<di class="tui-pager">
    <ul class="tui-pager">
        <li class="tui-firstpage">首页</li>
        <li class="tui-previous">上一页</li>
        <li class="tui-next">下一页</li>
        <li class="tui-lastpage">末页</li>
        <li class="tui-turnpage">转跳到
            <select name="" id="">
                <option>1/3</option>
                <option>2/3</option>
                <option>3/3</option>
            </select>
            页
        </li>
    </ul>
    
</di>-->