<ul class="tui-oa-orders">
	<li class="tui-oa-order-item" ng-repeat="obj in takecarlist">
		<table>
			<tr class="tui-oa-order-caption">
				<td class="col-md-3 text-left" ng-bind="obj.OrderTime"></td>
				<td class="col-md-4 text-left">订单号：<span ng-bind="obj.OrderCode"></span></td>
				<td class="col-md-2">车编号</td>
				<td class="col-md-1">状态</td>
				<td class="col-md-2">操作</td>
			</tr>
			<tr class="tui-oa-order-body">
				<td class="col-md-3">
					<img alt="" src="../demo/carimg.jpg" ng-src="../{{obj.HomePicID}}">
				</td>
				<td class="col-md-4">
					<h2 ng-bind="obj.SpecName">马自达8 2011款 2.3 自动 双驱至尊版</h2>
				</td>
				<td class="col-md-2" ng-bind="obj.CarNo"></td>
				<td class="col-md-1" ng-bind="obj.OrderFlag">
					
				</td>
				<td class="col-md-2">
					<a href="#/takecar/{{obj.OrderCode}}">审核</a>

				</td>
			</tr>
		</table>
	</li>
</ul>
