
<link rel="stylesheet" href="css/register.css">
<!--for register-->
<div class="container  tui-reg-container tc">
	<div class="tui-reg-step">
		<ul class="tui-reg-items clearfix">
			<li class="tui-reg-item tui-reg-step-1" data-step=1>
				设置登录名
			</li>
			<li class="tui-reg-item tui-reg-step-2 tui-reg-active" data-step=2>
				填写用户信息
			</li>
			<li class=" tui-reg-item tui-reg-step-3 " data-step="√">
				注册成功
			</li>
		</ul>
	</div>
	<!--step2-->
	<div class="tui-reg-info-container">
		<div class="tui-reg-step-content ">
			<form action="" id="tui-reg-alliance-form" name="tui-reg-alliance-form" class=" form-horizontal" role="form">
				<!--信息-->
				<div class="tui-reg-step1-content col-md-offset-3">
					<div class="tui-reg-allianceInfo ">
						<div class="form-group">
							<label for="CompanyName" class="col-md-2 control-label">企业全称：</label>
							<div class="col-md-4 ">
								<input type="text" name="CompanyName" id="CompanyName" value="" class="form-control" placeholder="" ng-modal="CompanyName" />
							</div>
						</div>
						<div class="form-group">
							<label for="Charger" class="col-md-2 control-label">企业负责人姓名：</label>
							<div class="col-md-4 ">
								<input type="text" name="Charger" id="Charger" value="" class="form-control" placeholder="" ng-modal="Charger" />
							</div>
						</div>
						<div class="form-group">
							<label for="OrganizationCode" class="col-md-2 control-label">组织机构代码：</label>
							<div class="col-md-4 ">
								<input type="text" name="OrganizationCode" id="OrganizationCode" value="" class="form-control" placeholder="评估师/爱车人士可不填写" ng-modal="OrganizationCode" />
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-md-2 control-label">组织机构代码图：</label>
							<div class="col-md-4 ">
								<p class="tui-upload-group">
									<a href="javascript:void(0)" class="tui-upload-btn">上传</a>
									<i class="icon-picture file-upload" id="file_upload_1"> <span>图片</span></i>
								</p>
							</div>
						</div>
						<div class="form-group">
							<label for="BusinessLicenseNo" class="col-md-2 control-label">工商执注册号：</label>
							<div class="col-md-4 ">
								<input type="text" name="BusinessLicenseNo" id="BusinessLicenseNo" value="" class="form-control" placeholder="评估师/爱车人士可不填写" ng-modal="BusinessLicenseNo" />
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-md-2 control-label">工商执照注册图：</label>
							<div class="col-md-4 ">
								<p class="tui-upload-group">
									<i class="icon-picture file-upload" id="file_upload_2"> <span>图片</span></i>
									<a href="javascript:void(0)" class="tui-upload-btn">上传</a>
								</p>
							</div>

						</div>
						<div class="form-group">
							<label for="PersonName" class="col-md-2 control-label">个人用户名：</label>
							<div class="col-md-4 ">
								<input type="text" name="PersonName" id="PersonName" value="" class="form-control" placeholder="" ng-modal="PersonName" />
							</div>
						</div>
						<div class="form-group">
							<label for="PersonID" class="col-md-2 control-label">个人身份证：</label>
							<div class="col-md-4 ">
								<input type="text" name="PersonID" id="PersonID" value="" class="form-control" placeholder="" ng-modal="PersonID" />
							</div>
						</div>
						<div class="form-group">
							<label for="Fax" class="col-md-2 control-label">传真：</label>
							<div class="col-md-4 ">
								<input type="text" name="Fax" value="Fax" class="form-control" placeholder="" ng-modal="Fax" />
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="tui-member-content">
			<hr>
			<div class="tui-reg-member-tool">
				<input type="button" name="" id="" value="新增申请人 +" class="tui-btn-default tui-member-btn" data-toggle="modal" data-target="tui-modal-dialog" ng-click="clickToOpen()" />
				<span id="">
							 您已建立<i class=' tui-member-count'>0</i>
							个申请人资料表，可建立多个
						</span>
			</div>
			<div class="tui-reg-member-content">
				<ul class="tui-reg-member-items">

				</ul>
			</div>
		</div>
		<input type="button" name="" id="" value="同意协议并注册" class="tui-reg-btn tui-reg-submit" />
		<p class="tui-service-agreement"><a href="">《车同享服务协议》</a></p>
	</div>
</div>
<!--modal-->
<div class="modal fade" id="tui-modal-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header tui-modal-title">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
			</div>
			<div class="modal-body">
										<form action=" " id="tui-reg-member-form ">
							<div class="tui-reg-eappraiserInfo ">
								<div class="form-group ">
									<label for="Contact " class="col-md-2 control-label ">姓名：</label>
									<div class="col-md-4 ">
										<input type="text " name="Account " id=" " value=" " class="form-control " />
									</div>
								</div>
								<div class="form-group ">
									<label for="Contact " class="col-md-2 control-label ">手机号码：</label>
									<div class="col-md-4 ">
										<input type="text " name="Contact " id=" " value=" " class="form-control " />
									</div>
								</div>
								<div class="form-group ">
									<label for="Contact " class="col-md-2 control-label ">联系地址：</label>
									<div class="col-md-4 ">
										<input type="text " name="Address " id=" " value=" " class="form-control " />
									</div>
								</div>

								<div class="form-group ">
									<label for="Contact " class="col-md-2 control-label ">登录密码：</label>
									<div class="tui-control-group ">
										<input type="password " name="Pwd " id=" " value=" " class="form-control tui-form-border " />
										<p style="height: 25px; ">
											<span class="tui-pwd-bar ">
											<i class="tui-pwd-box ">弱</i>
											<i class="tui-pwd-box ">中</i>
											<i class="tui-pwd-box ">强</i>
										</span>
										</p>
									</div>
								</div>
								<div class="form-group ">
									<label for="Contact " class="col-md-2 control-label ">确认密码：</label>
									<div class="col-md-4 ">
										<input type="password " name=" " id=" " value=" " class="form-control " />
									</div>
								</div>
								<div class="form-group ">
									<label for="Contact " class="col-md-2 control-label ">密码保护问题：</label>
									<div class="col-md-4 ">
										<select name="Question " class="form-control ">
											<option value=" ">请选择密码保护问题</option>
											<option value="您母亲的姓名是？ ">您母亲的姓名是？</option>
											<option value="您父亲的姓名是？ ">您父亲的姓名是？</option>
											<option value="您配偶的姓名是？ ">您配偶的姓名是？</option>
											<option value="您高中班主任的名字是？ ">您高中班主任的名字是？</option>
											<option value="您父亲的生日是？ ">您父亲的生日是？</option>
											<option value="您第一辆汽车的车牌号是？ ">您第一辆汽车的车牌号是？</option>
											<option value="您就读的第一所学校是？ ">您就读的第一所学校是？</option>
											<option value="您的出生地是？ ">您的出生地是？</option>
										</select>
									</div>
								</div>
								<div class="form-group ">
									<label for="Contact " class="col-md-2 control-label ">答案：</label>
									<div class="col-md-4 ">
										<input type="text " name="Answer " id=" " value=" " class="form-control " />
									</div>
								</div>
								<div class="form-group ">
									<label for="Contact " class="col-md-2 control-label ">是否评估师：</label>
									<div class="col-md-4 ">
										<select name="IsEvaluateRight " class="form-control ">
											<option value="true ">是</option>
											<option value="false " selected=" ">否</option>
										</select>
									</div>
								</div>
								<div class="form-group ">
									<label for="Contact " class="col-md-2 control-label ">入行日期：</label>
									<div class="col-md-4 ">
										<input type="date " name=" " id=" " value=" " class="form-control " />
									</div>
								</div>
							</div>
							<div class="tui-reg-eappraiserInfo ">
								<div class="form-group " style="min-height: 48px; ">
									<label for="Contact " class="col-md-2 control-label ">资格证书：</label>
									<div class="tui-control-group ">
										<p class="tui-upload-group ">
											<i class="icon-picture file-upload " id="file-upload-1 "> <span>图片</span></i>
											<a href="javascript:void(0) " class="tui-upload-btn ">上传</a>
										</p>
									</div>
								</div>

								<div class="form-group tui-label-top ">
									<label for="Contact " class="col-md-2 control-label ">上传头像：</label>
									<div class="tui-control-group ">
										<div class="tui-user-icon tui-form-border ">
											<img alt="头像 " src="images/13.jpg " />
										</div>
										<p class="tui-upload-group ">
											<i class="icon-picture file-upload " id="file-upload-2 "> <span>图片</span></i>
											<a href="javascript:void(0) " class="tui-upload-btn ">上传</a>
										</p>
									</div>
								</div>
								<div class="form-group ">
									<label for="Contact " class="col-md-2 control-label ">验证码：</label>
									<div class="tui-control-group ">
										<input type="text " name=" " id=" " value=" " class="tui-form-border tui-control-small " />
										<img src="img/vercode.png " alt="验证码 " class="tui-vercode-img " />
										<a href="javascript:void(0) " class="tui-change-vercode ">换一张</a>
									</div>
								</div>
							</div>
					</div>
					</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary">
					提交更改
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal -->
</div>

<!--modal-->
<!--end of register-->
</div>