<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>经销商注册</title>
		<link rel="stylesheet" href="css/base.css" media="all" />
		<link rel="stylesheet" href="css/register.css" media="all" />
	</head>

	<body>
		<!--for header-->
		
		<!--end of header-->
		<!--for register-->
		<div class="wrapper tui-reg-container tc">
			<!--成功-->
			<div class="tui-reg-step-content tui-reg-success-container">
				<form action="">
						<p class="tui-reg-success">
							<i class="glyphicon glyphicon-ok-sign"></i>
							<span ng-show="user.name">{{user.name}},</span> 恭喜亲成功开通车同享服务!
						</p>
						<p class="tui-reg-success-tip" ng-show="user.contact">您的手机号{{user.contact}}也可以作为用户名登录车同享服务</p>
				</form>
			</div>
		</div>
		<!--end of register-->
		</div>
		<!--for footer-->
		
		<!--end of footer-->

	</body>

</html>