
<!doctype html >
<html lang="en" ng-app="chetongxiang">
<head>
  <meta charset="utf-8">
  <title>车同享</title>
  <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="css/oa.css">
  	<style type="text/css">
  		body{
  			background: #f5f5f5;
  		}
  		.tui-oa-login-body{
  			padding: 60px 0;
  			background: #fff;
  				background-image: url(images/login-caption.jpg);
  			background-position: left top;
  			background-repeat: no-repeat; 
  		}
  		/*.tui-oa-login-caption{
  			height:40px;
  			background-color: #333333;
  			background-image: url(../admin/images/logo.png);
  			background-position: left center;
  			background-repeat: no-repeat; 
  			background-size:100% 40px ;
  		}*/
  	</style>
</head>
<body>
	<div class="tui-oa-navbar">
      <div class="wrapper tui-oa-bar col-md-8 col-md-offset-2">

      </div>

  </div>
  <div class="col-md-7 col-md-offset-3"  style="margin-top:50px;margin-bottom: 30px;height: 80px; line-height: 80px;border-bottom: 1px solid #ccc;">
  	<strong style="font-size: 18px;">登录</strong>
  </div>
<div class="row col-md-8 col-md-offset-2" ng-controller="loginController">
	<div class="col-md-4 pull-right tui-oa-login-body" >
		<div class="tui-oa-login-caption"></div>
		<form role="form" name="loginForm">
				  <div class="form-group text-center col-md-offset-2">
						<div class="col-md-10">
							<div class="alert alert-warning alert-dismissable" ng-show="Message.status||false" ng-bind="Message.msg">
	   			  			
							</div>
			     </div>
					</div>
					<div class=" form-group col-md-8 col-md-offset-2">
						<label for="name" >登录名：</label>
						<input type="text" class="form-control col-md-6" name="Account" placeholder="请输入登录名" ng-model="logon.Account" required="required">
					</div>
					<div class=" form-group col-md-8 col-md-offset-2">
						<label for="name" >登录密码：</label><a href="" class="pull-right">忘记密码?</a>
						<input type="password" class="form-control" name="Pwd" placeholder="输入密码" ng-model="logon.Pwd" required="required">
					</div>
			     <div class=" form-group col-md-8 col-md-offset-2">
						<input type="button" class=" tui-btn-default tui-btn-block tui-login-btn btn btn-primary btn-block" value="登 录"  style="background: #333;border-color:#333 ;" ng-click="directSignin()"/>
						<a href="" class="pull-right">免费注册</a>
					</div>
		</form>
	</div>
</div>
<script src="../lib/jquery/jquery-1.10.2.min.js" type="text/javascript"></script>
  <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
   <script src="../lib/angular/angular.1.4.0.js" type="text/javascript"></script>
  <script src="../lib/angular/angular-route.min.js" type="text/javascript"></script>
  <script src="../lib/angular/angular-cookies.min.js" type="text/javascript"></script>
  <script src="../lib/ngDialog/js/ngDialog.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="../js/util.js"></script>
  <script src="js/app-oa.js"></script>
  <script src="js/services-oa.js"></script>
  <script src="js/controllers-oa.js"></script>
  
</body>
</html>