<link href="../lib/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<div class="container wrapper" style="min-height: 500px;">
	<div class="row">
		<div class="col-md-10  tui-order-car">
			<h4>订单信息</h4>
			<div id="" class="tui-order-carinfo">
        	  	<div class="col-md-4">
        	  		<img ng-src="{{carInfo.HomePicID}}"/>
        	  	</div>
        	  	<div class="col-md-8">
        	  		<h3 class="tui-order-carname">车辆信息：<span  ng-bind="carInfo.SpecName"></span></h3>
        	  		<a href="javascript:void(0)" class="tui-order-refash">刷新车辆价格</a>
        	  		<div class="tui-order-describe">
        	  			<div class="col-md-4">
        	  				<p class="tui-order-price" ng-bind="carInfo.Price/10000|currency:'￥'"> <span class="small">万</span></p>
        	  				<p class="tui-order-costprice"><strike>15.00万</strike>  &nbsp; &nbsp; &nbsp;参考价格</p>
        	  				<p class="tui-order-advance"><label ng-bind="carInfo.PrePayMoney/10000|currency:'￥'"><span class="small">万</span></label>   &nbsp; &nbsp; &nbsp;预付金额</p>
        	  			</div>
        	  			<div class="col-md-4" style="line-height: 35px;">
        	  				<p>行驶里程：<span ng-bind="carInfo.Mileage"></span>公里</p>
        	  				<p>购买年限：<span ng-bind="carInfo.Buyyear"></span>年</p>
        	  				<p>过户次数：<span ng-bind="carInfo.TransferNo"></span></p>
        	  			</div>
        	  			<div class="col-md-2">
        	  				1
        	  			</div>
                  		<div class="col-md-2">
                  			有货
                  		</div> 
        	  		</div>
        	  	</div>
        	</div>
        </div>
		</div>
		<div class="col-md-10  clearfix " style="padding: 0;">
			<div class="tui-order-remmit-info">
				<button class="tui-btn-default tui-btn-big tui-submit-order">获取汇款识别码</button>
				<div class="tui-order-advance-help">
					<p class="m15">
						<h4>企业汇款</h4>(到款日期为1-4个工作日)
					</p>
					注意事项:汇款时需要注意以下信息，请牢记
					<p>1. 您的汇款识别码为<strong class="font-orange">M3BFWM745258979</strong>，汇款时请将此识别码填写到汇款单<span class="font-orange">【汇款用途】</span>栏内（仅填写此识别码）。</p>
					<p>2. <span class="font-orange">请您在24小时内汇清款项</span>，汇款后请进入“我的订单”点击“查看”<span class="font-orange">进入填写汇款确认单，否则24小时系统会取消订单</span>。到账周期一般为1-3个工作日</p>
					<p>3. 汇款金额请与应付金额保持一致，请勿多汇款或者少汇款。</p>
					<p>4. 汇款人姓名与订单收货人保持一致。</p>
				</div>
				<p class="m15">
					您的汇款识别码<strong class="font-orange">M3BFWM745258979</strong>已发送至手机{{user.Contact}}
				</p>
				<div class="tui-order-advanceNo">
					<form action="" class=" form-horizontal " role="form" name="fullPayForm"  novalidate="novalidate">
						<div class=" form-group col-md-10 font-orange ">
							<label for="name" class="col-md-2 control-label">汇款单号：</label>
							<div class="col-md-6 ">
							<input type="text" class="form-control "  placeholder="请输入汇款单号"  required="required" ng-model="AllMoneyOrder">
							</div>
						</div>
						<div class=" form-group col-md-10 font-orange ">
							<label for="name" class="col-md-2 control-label">汇款银行：</label>
							<div class="col-md-6 ">
							<input type="text" class="form-control "  placeholder="请输入汇款银行"  required="required" ng-model="AllMoneyBank">
							</div>
						</div>
						<div class=" form-group col-md-10 font-orange " > 
							<label for="name" class="col-md-2 control-label">汇款时间：</label>
							<div class="input-group date form_datetime col-md-6 " data-link-field="dtp_input1" style="padding: 0 15px;">
								<input class="form-control" size="16" type="text" value="" ng-model="AllMoneyTime">
								<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
							</div>
						</div>
						<!--<div class=" form-group col-md-10 font-orange ">
							<label for="name" class="col-md-2 control-label">汇款金额：</label>
							<div class="col-md-6 ">
							<input type="number" class="form-control "  placeholder="请输入汇款金额"  required="required" ng-model="">
							</div>
						</div>-->
					</form>
				</div>
               <p style="text-align: center;padding: 30px 0;">
						<button class="tui-btn-default tui-btn-big tui-submit-order" ng-click="sendFullPayCode()">提交汇款单号</button>
					</p>
			</div>

		</div>

	</div>
</div>
<script type="text/javascript" src="../lib/bootstrap/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="../lib/bootstrap/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
$(function(){
	$('.form_datetime').datetimepicker({
		language: 'zh-CN',
		format: "yyyy-mm-dd",
		autoclose: true,
		todayBtn: true,
		viewSelect: 'month',
		minView: 2,
		pickerPosition:"top-right"
	});
})
</script>