

<div class="container wrapper" style="min-height: 500px;">
    <div class="row">
        <div class="col-md-10 tui-order-car">
        	<h4>填写并提交订单信息</h4>
        	<div id="" class="tui-order-carinfo">
        	  	<div class="col-md-4">
        	  		<img src="../demo/carimg.jpg"/>

        	  	</div>
        	  	<div class="col-md-8">
        	  		<h3 class="tui-order-carname">车辆信息：奥迪A4L 2011款 A4L 2.0TFSI 无级 132kw舒适型</h3>
        	  		<a href="javascript:void(0)" class="tui-order-refash">刷新车辆价格</a>
        	  		<div class="tui-order-describe">
        	  			<div class="col-md-4">
        	  				<p class="tui-order-price">￥11.00 <span class="small">万</span></p>
        	  				<p class="tui-order-costprice"><strike>15.00万</strike>  &nbsp; &nbsp; &nbsp;参考价格</p>
        	  				<p class="tui-order-advance"><label>￥2.00<span class="small">万</span></label>   &nbsp; &nbsp; &nbsp;预付金额</p>
        	  			</div>
        	  			<div class="col-md-4" style="line-height: 35px;">
        	  				<p>行驶里程：100公里</p>
        	  				<p>购买年限：2年</p>
        	  				<p>过户次数：1</p>

        	  			</div>
        	  			<div class="col-md-2">
        	  				1
        	  			</div>
                  		<div class="col-md-2">
                  			有货
                  		</div> 
        	  		</div>
        	  		
        	  	</div>
        	</div>
        </div>
        <div class="col-md-10  p30 pl50 clearfix" style="height: 250px;">
	        <div class="col-md-8 tui-order-help">
				<p>
					<i class="glyphicon glyphicon-plus-sign"></i>
					什么事预约金额？
				</p>
				<p>
					<i class="glyphicon glyphicon-plus-sign"></i>
					保修费是什么？
				</p>
				<p>
					<i class="glyphicon glyphicon-plus-sign"></i>
					为什么会有服务费用？
				</p>
	        
	        </div>
	        <div class="col-md-4 text-right tui-order-collect clearfix ">
	        	<div>
	        		<p class="col-md-8 text-right "><span>1</span>件商品，商品总金额：</p>
	        		<p class="col-md-4 text-left tui-p0">￥2000000.00</p>
	        	</div>
	        	<div>
	        		<p class="col-md-8  text-right ">预付金额：</p>
	        		<p class="col-md-4 text-left tui-p0" style="color: #ff6a00;">￥20000.00</p>
	        	</div>
	        	<div>
	        		<p class="col-md-8 text-right ">平台服务费：</p>
	        		<p class="col-md-4 text-left tui-p0">￥1000.00</p>
	        	</div>
	        	<div>
	        		<p class="col-md-8 text-right ">保修费：</p>
	        		<p class="col-md-4 text-left tui-p0">￥2000000.00</p>
	        	</div>
	        	<div>
	        		<p class="col-md-8 text-right ">物流费：</p>
	        		<p class="col-md-4 text-left tui-p0">￥2000000.00</p>
	        	</div>
	        	<div>
	        		
	        		<p class="col-md-8 text-right ">应付款总金额：</p>
	        		<p class="col-md-4 text-left tui-p0">￥2000000.00</p>
	        	</div>
	        </div>
        </div>
        <div style="border-top: 1px solid #dedede;" class="col-md-10 ">
        	<p style="text-align: right;height: 50px;line-height: 50px;padding-right: 35px;font-size: 16px;">应付总额：<span style="color: #ff6a00;">￥200000</span></p>
        	<p style="text-align: center;padding: 30px 0;">
        		<a href="#/orderremit" class="tui-btn-default tui-btn-big tui-submit-order">付款</a>
        	</p>
        	
        	
        	
        </div>
        
    </div>
</div>
