/*
 *@version:1.0.0
 *@author:wutianxing
 *@copyright:chetongxiang.com
 *@date:2015.10.23
 */

/***************
 *
 *******index
 *
 **************/
body{
    font-size: 14px;
}
a:hover{
    text-decoration: none;
}
.tui-admin-navbar{
    background-color: #363f45;
    height: 60px;
    line-height: 60px;
}

.tui-admin-bar {
    background: url(../images/logo.png) left center no-repeat;
    height: 100%;
    text-align: right;
}
.tui-admin-bar i{
    color: #fff;
    font-size: 16px;
    margin: 0 10px;
}
.tui-admin-bar span.badge{
    position: absolute;
    right: -10px;
    top: -10px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 10px;
    background: #fe5621;
    font-weight: normal;
    border-radius: 50%;
    padding: 0;
}
.tui-admin-sidebar{
    height: 100%;
    background: #f5f5f5;
    text-align: center;
    padding: 30px 0;
}
.tui-admin-aside{
  

}
.tui-admin-aside a{
    margin: 0 10px;
    color: #333333;
}
.tui-admim-headIcon{
    width: 125px;
    height: 125px;
}
.tui-admin-name {
    color:#999999;
    line-height: 30px;
}

.tui-admin-aside-nav {
    padding: 30px 0;
    font-size: 16px;
    color: #4c4c4c;
}

.tui-admin-asidenav-item {
    line-height: 50px;
}
.tui-admin-asidenav-item a:hover,
.tui-admin-asidenav-item-active{
    background: #fff;
}
.tui-admin-asidenav-item a{
    display: block;
    outline: none;
}
.tui-admin-asidenav-item a:hover{
color: #4c4c4c;
}
.tui-admin-personcenter{
    padding-top: 30px;
    padding-bottom: 30px;
}
.tui-admin-h2 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
.tui-admin-h2+a {
    font-size: 12px;
    margin-left: 10px;
}

.tui-admin-personinfo {
    width: 50%;
    height: 60px;
    vertical-align: center;
}
.tui-admin-progressbar
{
    width: 60%;
    padding-top:10px;
}
.tui-admin-progressbar .progress{
    display: inline-block;
    width: 90%;
}

.tui-admin-coin {
    width: 280px;
    height: 170px;
    background: #f5f5f5;
    padding: 10px;
}

.tui-admin-icon-count {
    height: 90px;
    background-color: #fff;
    background-image: url(../images/coin-count.png);
    background-position: 20px center;
    background-repeat: no-repeat;
    position: relative;
}
.tui-admin-location {
    height: 45px;
    line-height: 45px;
}
/***************
 *
 *******orders list
 *
 **************/
.tui-admin-order-item {
    height: 210px;
    border: 1px solid #e2e2e2;
    margin-bottom: 10px;
}
.tui-admin-order-caption>div{
    height: 40px;
    line-height: 40px;
    background: #f0f0f0;
    text-align: center;
}
.tui-admin-order-body>div{
    height: 170px;
    line-height: 170px;
    text-align: center;
    color: #333333;
}
.tui-admin-order-body>div h2{
    font-size: 18px;
    color: #333333;
}
.tui-admin-order-body>div p strong{
    font-size: 18px;
    font-weight: bold;
    color: #ff6a00;
}
.tui-admin-order-body>div p label{
    color: #ff6a00;
}
.tui-admin-order-body>div img{
   width: 190px;
   height: 130px;
}
.tui-admin-order-body>div a{
   color: #3250be;
    vertical-align:middle;
}
.tui-admin-order-body>div.tui-admin-order-car{
    padding-top: 30px;
    line-height: 40px;
}
.tui-admin-order-carinfo{
 
 border: 1px solid #e2e2e2;
    height: 40px;
    line-height: 20px;
}
.tui-admin-order-carinfo li{
    display: inline-block;
    width: 23%;
    font-size: 12px;
    color: #aaaaaa;
    border-right: 1px solid #e2e2e2;
}
.tui-admin-order-carinfo li>p{
    font-size: 12px;
    color: #333333;
}
/*
 * order pay
 * 
 * */

.tui-p0{
	padding:0;
}
.tui-order-car h4{
	color: #808080;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	margin: 10px 0 ;
	padding-left: 15px; 
}
.tui-order-carinfo{
	height: 220px;
	border: 1px solid #dedede;
	padding: 20px;
	color: #353535;
	position: relative;
}
.tui-order-carinfo img{
	width: 250px;
	height: 170px;
}
.tui-order-carname{
	font-size: 18px;
	height: 40px;
	line-height: 40px;
}
.tui-order-describe{
	height: 130px;
}
.tui-order-describe div{
	height: 130px;
	padding: 20px 15px;
}
.tui-order-describe div.col-md-4{
	background-color: #f5f5f5;
}
.tui-order-refash{
	position: absolute;
	right: 20px;
	top: 10px;
	color: #307cb8;
	outline: none;
}
.tui-order-refash:hover{
	text-decoration: none;
}
.tui-order-describe div.col-md-2{
	background: #f3fbfe;
	line-height: 90px;
	text-align: center;
}
.tui-order-price{
	height: 45px;
	line-height: 45px;
	font-size: 36px;
	font-weight: bold;
	color: #fd5736;
}
.tui-order-costprice{
	color: #999999;
	height: 30px;
}
.tui-order-advance label{
	font-size: 24px;
	color: #fd5736;
}
.tui-order-collect{
	color: #4c4c4c;
	height: 30px;
	line-height: 30px;
    font-size: 14px;
	
}
.tui-submit-order{
	padding:0 20px;
}
.tui-order-help
{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #005ea7;
}
.tui-order-help p{
	cursor: pointer;
}
.tui-order-help p>i{
	color: #005ea7;
}
/*
 *汇款信息
 * */
.tui-order-remmit-info
{
	padding: 20px;
	color: #353535;
	margin: 20px 0;
	border: 1px solid #dedede;
	line-height: 30px;
	font-size: 14px;
}
.tui-order-remmit-info h4
{
	font-size: 16px;
	line-height: 30px;
}

.font-orange{
	color: #fd5736;
}
.tui-order-advance-help
{
	/*display: none;*/
}
.tui-order-advanceNo
{
	height: 200px;
}









